<div class="container">
  <h1>Practicing helpers function in handlebar</h1>
  <li> here is the 1st helper function: {{calculation 10}}</li>
  <li>We learn about different
    {{#strong}}custom helpers{{/strong}}
    today</li>
</div>