<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2><a href="/data/search/id">Search Movie by ID</a></h2>

<h2><a href="/data/movie/insert">Insert New Movie</a></h2>

<h2><a href="/data/movie/update">Update Movie</a></h2>

<h2><a href="/data/movie/delete">Delete Movie</a></h2>