<h2>Insert New Movie</h2>
<form action="/data/movie/insert" method="POST">
  <div class="formfield">
    <label for="Movie_ID">Movie ID:</label>
    <input type="number" id="Movie_ID" name="Movie_ID" required />
  </div>

  <div class="formfield">
    <label for="Title">Title:</label>
    <input type="text" id="Title" name="Title" required />
  </div>

  <div class="formfield">
    <label for="Year">Year:</label>
    <input type="number" id="Year" name="Year" />
  </div>

  <div class="formfield">
    <label for="Rated">Rated:</label>
    <input type="text" id="Rated" name="Rated" />
  </div>

  <div class="formfield">
    <label for="Released">Released:</label>
    <input type="text" id="Released" name="Released" />
  </div>

  <div class="formfield">
    <label for="Runtime">Runtime:</label>
    <input type="text" id="Runtime" name="Runtime" />
  </div>

  <div class="formfield">
    <label for="Genre">Genre:</label>
    <input type="text" id="Genre" name="Genre" />
  </div>

  <div class="formfield">
    <label for="Director">Director:</label>
    <input type="text" id="Director" name="Director" />
  </div>

  <div class="formfield">
    <label for="Writer">Writer:</label>
    <input type="text" id="Writer" name="Writer" />
  </div>

  <div class="formfield">
    <label for="Actors">Actors:</label>
    <input type="text" id="Actors" name="Actors" />
  </div>

  <div class="formfield">
    <label for="Plot">Plot:</label>
    <textarea id="Plot" name="Plot"></textarea>
  </div>

  <div class="formfield">
    <label for="Language">Language:</label>
    <input type="text" id="Language" name="Language" />
  </div>

  <div class="formfield">
    <label for="Country">Country:</label>
    <input type="text" id="Country" name="Country" />
  </div>

  <div class="formfield">
    <label for="Awards">Awards:</label>
    <input type="text" id="Awards" name="Awards" />
  </div>

  <div class="formfield">
    <label for="Poster">Poster URL:</label>
    <input type="text" id="Poster" name="Poster" />
  </div>

  <div class="formfield">
    <label for="RatingsSource">Ratings Source:</label>
    <input type="text" id="Ratings.Source" name="Ratings.Source" />
  </div>

  <div class="formfield">
    <label for="RatingsValue">Ratings Value:</label>
    <input type="text" id="Ratings.Value" name="Ratings.Value" />
  </div>

  <div class="formfield">
    <label for="Metascore">Metascore:</label>
    <input type="text" id="Metascore" name="Metascore" />
  </div>

  <div class="formfield">
    <label for="imdbRating">IMDB Rating:</label>
    <input type="number" step="0.1" id="imdbRating" name="imdbRating" />
  </div>

  <div class="formfield">
    <label for="imdbVotes">IMDB Votes:</label>
    <input type="text" id="imdbVotes" name="imdbVotes" />
  </div>

  <div class="formfield">
    <label for="imdbID">IMDB ID:</label>
    <input type="text" id="imdbID" name="imdbID" />
  </div>

  <div class="formfield">
    <label for="Type">Type:</label>
    <input type="text" id="Type" name="Type" />
  </div>

  <div class="formfield">
    <label for="tomatoMeter">Tomato Meter:</label>
    <input type="text" id="tomatoMeter" name="tomatoMeter" />
  </div>

  <div class="formfield">
    <label for="tomatoImage">Tomato Image:</label>
    <input type="text" id="tomatoImage" name="tomatoImage" />
  </div>

  <div class="formfield">
    <label for="tomatoRating">Tomato Rating:</label>
    <input type="text" id="tomatoRating" name="tomatoRating" />
  </div>

  <div class="formfield">
    <label for="tomatoReviews">Tomato Reviews:</label>
    <input type="text" id="tomatoReviews" name="tomatoReviews" />
  </div>

  <div class="formfield">
    <label for="tomatoFresh">Tomato Fresh:</label>
    <input type="text" id="tomatoFresh" name="tomatoFresh" />
  </div>

  <div class="formfield">
    <label for="tomatoRotten">Tomato Rotten:</label>
    <input type="text" id="tomatoRotten" name="tomatoRotten" />
  </div>

  <div class="formfield">
    <label for="tomatoConsensus">Tomato Consensus:</label>
    <input type="text" id="tomatoConsensus" name="tomatoConsensus" />
  </div>

  <div class="formfield">
    <label for="tomatoUserMeter">Tomato User Meter:</label>
    <input type="text" id="tomatoUserMeter" name="tomatoUserMeter" />
  </div>

  <div class="formfield">
    <label for="tomatoUserRating">Tomato User Rating:</label>
    <input type="text" id="tomatoUserRating" name="tomatoUserRating" />
  </div>

  <div class="formfield">
    <label for="tomatoUserReviews">Tomato User Reviews:</label>
    <input type="text" id="tomatoUserReviews" name="tomatoUserReviews" />
  </div>

  <div class="formfield">
    <label for="tomatoURL">Tomato URL:</label>
    <input type="text" id="tomatoURL" name="tomatoURL" />
  </div>

  <div class="formfield">
    <label for="DVD">DVD:</label>
    <input type="text" id="DVD" name="DVD" />
  </div>

  <div class="formfield">
    <label for="BoxOffice">Box Office:</label>
    <input type="text" id="BoxOffice" name="BoxOffice" />
  </div>

  <div class="formfield">
    <label for="Production">Production:</label>
    <input type="text" id="Production" name="Production" />
  </div>

  <div class="formfield">
    <label for="Website">Website:</label>
    <input type="text" id="Website" name="Website" />
  </div>

  <div class="formfield">
    <label for="Response">Response:</label>
    <input type="checkbox" id="Response" name="Response" />
  </div>

  <button type="submit">Insert Movie</button>
</form>