<h2>Updated Movie Info</h2>
<div>
  <p><strong>Movie ID:</strong> {{movie.Movie_ID}}</p>
  <p><strong>Title:</strong> {{movie.Title}}</p>
  <p><strong>Year:</strong> {{movie.Year}}</p>
  <p><strong>Released:</strong> {{movie.Released}}</p>
</div>